.ReviewsList__Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.54);
  font-family: "Google Sans", Roboto, sans-serif;
  line-height: 1.375em;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.ReviewsList__AddIcon {
  display: flex;
  text-align: center;
}

h3 {
  margin-top: 10px;
  color: #9c27b0;
}

h2 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}

.Add_Icon {
  color: #9c27b0;
}
