.Restaurant__Container {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 10px;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.Restaurant__Name {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.16667em;
  margin-bottom: 3px;
  color: rgba(0, 0, 0, 0.87);
}

.Restaurant__info {
  width: 70%;
}

.Restaurant__Address,
.Restaurant__Rating {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.375em;
  margin-bottom: 3px;
}
.Restaurant__Rating {
  color: #fb8c00;
  font-weight: 600;
  padding-top: 3px;
  padding-right: 5px;
}
.Restaurant__image img {
  margin-left: 10px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  /* border: 1px solid grey; */
}

.Raiting__Container {
  display: flex;
  align-items: center;
}

.Restaurant__Rating__Star {
  color: #fb8c00;
  font-size: 6px;
}

.noRating {
  font-size: 14px;
  color: black;
  font-style: italic;
}
